body{
	background-color:black;
}
header h1{
	position:absolute;
	top: 0px;
	background-color:red;
	height: 15%;
	width: 50%;
	margin-left: 25%;
	z-index:5;
	text-align:center;
}
#nav1{
	position:absolute;
	top:100px;
	height:10%;
	width:50%;
	margin-left:25%;
	z-index:5;
	background-color:pink;
}
#content{
	position:absolute;
	top:160px;
	height:75%;
	width:50%;
	background-color:blue;
	margin-left:25%;
	
}
footer{
	position:fixed;
	bottom:5px;
	height:5%;
	width:50%;
	background-color:yellow;
	margin-left:25%;
	text-align:top;
}
#wrapper{
	position:fixed;
	background-color:green;
	height: 99%;
	width: 95%;
	margin: 0px 30px;
}
