body {
	background-color: black;
}
footer{
	background-color:blue;
	color:white;
	height:10%;
	width:88.5%;	
	position:absolute;
	bottom: 82px;
	font-size:12px;
	z-index: 1;
	margin-left:80px;
	padding: 5px;
}
#left{
	float: left;
	background-color: green;
	color:white;
	height:78%;
	width:88.5%;
	position:absolute;
	top: 85px;
	margin-left: 80px;
	padding: 5px;
	font-size:12px;
}
header{
	position: absolute;
	padding: 15px;
	top: 15px;
	margin-left: 80px;
	margin-top: 1px;
	width:87%;
	height: 10%;
	background-color: red;
	color:white;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
#wrapper{
	margin-left: 80px;
	background-color:white;
	height: 800px;
	width: 90%;
}